- name: desktop env | hyprland
  tags: desktop env
  package:
    name: '{{ item }}'
    state: latest
  loop:
    - hyprland
    - hyprpicker
    - hyprpaper
    - hyperlock
    # - hyprland-themes
    - lightdm
    - lightdm-gtk-greeter
    - dmenu
    - xdg-utils
    - xdg-user-dirs
    - wireless_tools
    - wpa_supplicant
    - gvfs
    - redshift
    - dunst
    - qt5-wayland
    - qt6-wayland
    - xdg-desktop-portal-hyprland
    - thunar
  notify:
    - enable lightdm
    - create default xdg dirs
    - config lightdm-greeter
    - config lightdm-gtk-greeter
    - extract wallpapers
